{{> /common/header }}
<form class="my-2 p-2" method="get" action="/search">
	<div class="d-flex justify-content-end g-3">
		<div class="px-1">
			<input type="text" class="form-control" name="q" />
		</div>
		<div class="px-1">
			<button class="btn btn-outline-primary form-control">검색</button>
		</div>
	</div>
</form>
{{> /common/footer }}